/* Colori Principali:
white
Primary
Seconday
*/

/* cards */
.cardContainer{
    height: 400px;
}
*{
    font-family: 'Slackey', cursive;
}
.carouselSize {
    height: 400px;
}

/* navbar. */
nav{
    min-height: 100px;
}

.imgLogo{
    width: 100px;
}